{{ define "main" }}
  <section id="about">
  {{ if isset .Site.Params "description" }}
    {{ .Site.Params.description | $.Page.RenderString }}
  {{ end }}
  {{ if isset .Site.Params "social" }}
      <p>The Git repo for the page is 
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
      {{ if eq $elem.name "email" }}
      you can 
      <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}" aria-label="Email">
          <i class="fas fa-envelope" aria-hidden="true"></i>
        email </a>
        Tushant if you have any queries
        {{ else if eq $elem.name "docs" }}
         there is a 
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="Docs">
          <i class="fas fa-file-alt" aria-hidden="true"></i> Google doc
        </a>
        with the list of suggested papers, and,
        {{ else if eq $elem.name "rss" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="RSS">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </a>
        {{ else if eq $elem.name "scholar" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="Google Scholar">
          <i class="fas fa-graduation-cap" aria-hidden="true"></i>
        </a>
        {{ else }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
          <i class="fab fa-{{ lower $elem.name }}" aria-hidden="true"></i>
        </a>
        {{ end }}
        {{ if (lt (add $index 2) $length) }}
          {{- print ", " -}}
        {{ else if (lt (add $index 1) $length) }}
          {{- print "" -}}
        {{ else }}
          {{- print "." -}}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  {{ partial "optional-about.html" . }}
  </section>

  <section id="ven">
    <span class="h1"> Venue</span>
    <span> Thursdays, 3:30 PM CDT, TTIC 529. <a href="https://uchicago.zoom.us/j/97696222494?"> Zoom link </a> (pass:matrix represents a ****** map) </span>
  </section>


  <section id="next">
    <span class="h1"> Upcoming Talks</span>
    <ul class="post-list">
      <li class="post-item">
        <div class="meta"><time datetime="2023-01-26">2023-02-23</time></div><span> On Mixing Distributions Via Random Orthogonal Matrices and the Spectrum of the Singular Values of Multi-Z Shaped Graph Matrices - I <a href="{{ .Site.BaseURL }}posts/talk5/" style="text-decoration: none;"><small>[Abstract]</small></a> by <a href="http://www.potechin.org/aaronpotechin/"> Aaron Potechin </a></span>
       </li>
       
       <li class="post-item">
        <div class="meta"><time datetime="2023-01-26">2023-03-02</time></div><span> On Mixing Distributions Via Random Orthogonal Matrices and the Spectrum of the Singular Values of Multi-Z Shaped Graph Matrices - II <a href="{{ .Site.BaseURL }}posts/talk6/" style="text-decoration: none;"><small>[Abstract]</small></a> by <a href="https://mathematics.uchicago.edu/people/profile/wenjun-cai/"> Wenjun Cai </a></span>
       </li>
       
       
    </ul>
    <span class="h2"> Subcribe to <a href="https://calendar.google.com/calendar/embed?src=c_8dm5v6p6ltlrv8mf2kg3pbdg04%40group.calendar.google.com&ctz=America%2FChicago">Google calendar</a> for most accurate updates</span>
   <!---
     <iframe src="https://calendar.google.com/calendar/embed?src=1d00b4a48d71376fbc3cbdca3bd2101bf47011c731e1287a0590b52d5b40337b%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="500" height="350" frameborder="0" scrolling="no"></iframe>

    <span class="h2"> Matrix Chernoff Bounds by <a href="https://home.ttic.edu/~madhurt/"> Madhur Tulsiani </a> </span>
    <span class="h3"> 26 January, Thursday 4:00 PM CDT, TTIC 501. <a href="https://uchicago.zoom.us/j/97696222494?"> Zoom link </a> (pass:matrix is a l???r map) </span>
    <li class="post-item">
        <div class="meta"><time datetime="2023-01-26">2023-02-09</time></div><span> A Matrix Expander Chernoff Bound <a href="{{ .Site.BaseURL }}posts/talk3/" style="text-decoration: none;"><small>[Abstract]</small></a> by <a href="http://mittaltushant.github.io"> Tushant Mittal </a></span>
       </li>
       <li class="post-item">
   -->
  </section>

  <!---
    <li class="post-item">
        <div class="meta"><time datetime="2023-01-26">2023-01-26</time></div> <span> Matrix Chernoff Bounds<a href="{{ .Site.BaseURL }}posts/talk1/" style="text-decoration: none;"><small>[Abstract]</small></a> by <a href="https://home.ttic.edu/~madhurt/"> Tushant Mittal </a>. (Starts at 4 PM) </span>
       </li>
      <li class="post-item">
        <div class="meta"><time datetime="2023-01-26">2023-02-02</time></div><span> Poincaré inequalities to nonlinear matrix concentration <a href="{{ .Site.BaseURL }}posts/talk2/" style="text-decoration: none;"><small>[Abstract]</small></a> by <a href="https://cam.uchicago.edu/people/profile/june-wu/"> June Wu </a></span>
       </li>
  --->

  <section id="writing">
    <span class="h1"><a href="{{ .Site.Params.mainSection | absURL }}">{{ .Site.Params.mainSectionTitle | default "Writings" }}</a></span>
  <!---
    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">Topics</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.5 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    {{ end }}
  -->
    {{ $showAllPostsOnHomePage := true }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
      {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
      {{ range (.Paginate $mainPosts).Pages }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    {{ else }}
    <ul class="post-list">
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}} {{ end }}</a>
          </span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>
<!-----
  {{ $showProjectsList := false }}
  {{ if (isset .Site.Params "showprojectslist") }}
    {{ $showProjectsList = .Site.Params.showProjectsList }}
  {{ else if .Site.Data.projects }}
    {{ $showProjectsList = true }}
  {{ end }}
  {{ if $showProjectsList }}
    {{ $projectsUrl := "#" }}
    {{ if isset .Site.Params "projectsurl" }}
      {{ $projectsUrl = .Site.Params.projectsUrl }}
    {{ end }}
  <section id="projects">
    <span class="h1"><a href="{{ $projectsUrl }}">Projects</a></span>
    <ul class="project-list">
        {{ range .Site.Data.projects.list }}
        <li class="project-item">
          <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
        </li>
        {{ end }}
    </ul>
  </section>
  {{ end }}
  --->
{{ end }}
